// theme
@import 'theme/mobile';

// vendor
@import 'vendor/bootstrap';
@import 'vendor/element';
@import 'vendor/splitpanes';
@import 'vendor/vxetable';

// material icons
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

// layout
@import 'layout/component';


@mixin element-icons {
  font-family: element-icons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__nuxt {
  display: block;
}

//-------------- layout
* {
  touch-action: manipulation;
}

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  height: calc(100% - 50px);
  background-color: #232323;
}

.main {
  height: 100%;
}


//-------------- header
.header {
  position: relative;
  background-color: #1d1d1d;

  .header__title,
  .header__left,
  .header__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__title {
    width: 100%;
    height: 44px;
  }

  .header__left,
  .header__right {
    position: absolute;
    top: 0;
    width: 90px;
    height: 100%;
    .page__title {
      position: fixed;
      width: 100%;
      color: #ffe200;
    }
  }

  .header__left {
    left: 4px;
    justify-content: flex-start;
  }

  .header__right {
    right: 4px;
    justify-content: flex-end;
  }
}

.header-userInfo {
  border: 1px solid #3a3a3a;
  box-shadow: 0 1px 2px #000;
  background-color: #1e1e1e;

  position: absolute;
  top: 42px;
  right: 0;
  z-index: 99;
  transform: translateX(100%);

  &.isOpen {
    right: 5px;
    transform: translateX(0);
  }

  .userInfo-list {
    list-style-type: none;
    width: 200px;
    font-size: 12px;
    color: #fff;
    padding: 3px 8px;
    margin-bottom: 0;

    li {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #000;
      padding: 6px 0;

      +li {
        border-top: 1px solid #444;
      }
    }

    .label {
      margin-right: 6px;
    }

    .userInfo__button {
      button {
        width: 100%;
      }
    }
  }
}


//-------------- main
.myname {
  line-height: 1.2;
}
.mycfd, .mycfdw {
  display: inline-block;
}
.mycfd {
  background: url('~static/images/theme_dt/cfd.svg') no-repeat;
  width: 21px;
  height: 11px;
  margin-top: 3px;
}
.mybox {
  display: flex;
  justify-content: space-around;
}
.nopingb, .nopings {
  flex: 1;
  text-align: center;
  font-size: 12px;
  line-height: 1.4;
}
.nopingb {
  background-color: #613c3c;
}
.nopings {
  background-color: #3c6150;
  margin-left: 1px;
}
.mybar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  .progress-bar {
    height: 2px;
  }
}
.table-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  a {
    position: relative;
    display: block;
    width: 30px;
    height: 16px;
    background: url('~static/images/theme_dt/setw.png') no-repeat;
  }
}
.area {
  position: relative;
  overflow: hidden;
  .leftButton {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: .5;
    padding: 3px;
    background: #ff7676;
  }
  .rightButton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .5;
    padding: 3px;
    background: #ff7676;
  }
  .area-order-theme1 {
    margin: auto;
    li {
      width: 80%;
      margin: auto;
      &:nth-child(2) {
        width: 98%;
      }
    }
  }
  .area-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 55px;
    z-index: 99;
    width: 100%;
    padding: 3px 5px;
    button {
      width: 100%;
      background-color: #333;
      border-color: #1f1f1f;
      color: #fff;
      text-shadow: 0 1px 0 #111;
      border-radius: 0;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .area-tran-list {
    > li {
      padding: 10px;
      background: #313131;
      border-top: 1px solid #1d1d1d;
      border-bottom: 1px solid #1d1d1d;
      + li {
        margin-top: -1px;
      }
      &.hs-edit {
        position: relative;
        background-color: #414141;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
          display: block;
          width: 22px;
          height: 22px;
          border-radius: 50px;
          background: url('~static/images/theme_dt/arrow-right.svg') center center rgba(0,0,0,.3) no-repeat;
        }
      }
    }
    .tran-item {
      display: table;
      font-size: 12.6px;
      > li {
        display: table-cell;
        vertical-align: top;
        line-height: 1.2;
        padding-right: 4px;
      }
      span + span {
        margin-left: 4px;
      }
      .tran-item__put {
        min-width: 30px;
        color: #c2c4cc;
        text-align: center;
        padding: 0 2px;
        + .tran-item__put {
          border-top: 1px solid #000;
        }
      }
      .bg__danger {
        background-color: #760000;
      }
      .bg__success {
        background-color: #005500;
      }
      .text__lg {
        font-size: 16px;
      }
    }
    .tran-item__name {
      // font-size: 14px;
    }
    .tran-item__yellow {
      color: #fff8c6;
      > span {
        display: inline-block;
        text-align: center;
        font-size: 10px;
        color: #fff;
        background-color: rgba(34, 170, 221, 0.5);
        text-shadow: 0 1px 0 #111;
        border-radius: 15px;
      }
    }
    .tran-item__ha {
      display: inline-block;
      text-align: center;
      min-width: 22px;
    }
    .tran-item__hey {
      min-width: 24px;
      text-align: center;
      color: #c2c4cc;
      background-color: #181a1f;
      padding: 0 2px;
    }
    .tran-item__fee {
      min-width: 30px;
      text-align: center;
    }
    .tran-item__yo {
      color: #c3b342;
    }
  }
  .area-order {
    li {
      display: flex;
      align-items: center;
      + li {
        margin-top: 6px;
      }
    }
    .title {
      white-space: nowrap;
      font-weight: 400;
      font-size: 16px;
      margin-right: 5px;
    }
    .order__select {
      position: relative;
      width: 236px;
      background-color: #333;
      border-color: #1f1f1f;
      color: #fff;
      text-shadow: 0 1px 0 #111;
      select {
        width: 100%;
        color: #fff;
        padding: 6px 20px 8px 10px;
        background: transparent;
        border: transparent;
      }
      &:after {
        position: relative;
        content: '';
        width: 22px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        background-color: rgba(0,0,0,.3);
        border-radius: 50%;
        content: "\e6df";
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-family: element-icons !important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        vertical-align: baseline;
        display: inline-block;
        pointer-events: none;
      }
    }
    .radio {
      position: relative;
      flex: 1;
      background-color: #333;
      .radio__label {
        display: block;
        padding: 5px 14px 5px 30px;;
        cursor: pointer;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 8px;
          transform: translateY(-50%);
          width: 18px;
          height: 18px;
          background-color: rgba(0,0,0,.3);
        }
      }
      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked + .radio__label:after {
          border-color: #2ad;
          color: #fff;
          text-shadow: 0 1px 0 #08b;
          background: url('~static/images/theme_dt/check.svg') center center #2ad no-repeat;
        }
      }
      &.area-order-theme1 {
        padding: 1rem 2.6rem;
      }
    }
    .button-group {
      button {
        flex: 1;
        font-weight: bold;
        border-radius: 0;
        text-shadow: 0 1px 0 #111;
        box-shadow: 0 1px 3px rgba(0,0,0,.15);
        padding: 13px 8px;
      }
      .button__success {
        background-color: #009B00;
        border-color: #009B00;
      }
    }
  }
  .area-order-theme2 {
    padding: 0 8px;
    .title {
      font-size: 12px;
      color: #a2a2a2;
      padding: 0 6px;
    }
    td {
      padding: 2px;
    }
    .order__select {
      width: 100%;
    }
    .number-input input {
      width: 100%;
      margin: 0;
    }
  }
  .fiveBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    .label {
      font-size: 11.6px;
      text-align: center;
      color: #a2a2a2;
      margin-right: 4px;
    }
    table + table {
      border-top: 1px solid #3a3a3a;
    }
    .progress-bar__right {
      direction: ltr !important;
    }
    td {
      padding: 0 2px;
      .progress-bar {
        height: 10px;
      }
    }
  }

  .area-account-list {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 1rem auto;
    li {
      width: 33.33%;
    }
    .area-account-item {
      width: 67px;
      height: 67px;
      background-color: #444;
      border-radius: 50%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 5px;
      margin-top: 2rem;
      img {
        max-width: 50%;
      }
      .title {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }

  .area-data-list {
      border-top: 1px solid #1d1d1d;
      li {
      padding: .7em 1em;
      background-color: #2a2a2a;
      border-bottom: 1px solid #1d1d1d;
      color: #fff;
      text-shadow: 0 1px 0 #111;
    }
  }

  .area-no-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  +table {
    margin-top: 1px;
  }
}
.area-main-block1 {
  width: calc(100% - 40px);
}
.area-main-block2 {
  font-size: 14px;
  width: calc(100% - 80px);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.area-main-block3 {
  font-size: 14px;
  width: calc(100% - 80px);
  margin: 0  auto;
  .d-flex {
    height: 100%;
  }
  ul {
    + ul {
      padding-left: 10px;
    }
    li {
      position: relative;
      text-align: right;
      border-bottom: 1px solid #333;
      .label {
        position: absolute;
        left: 0;
        color: #a2a2a2;
      }
    }
  }
}


.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li,
  a {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: $gray-700;
    border-radius: 3px;
    padding: 10px 0 10px 10px;
    margin: 10px;

    .el-icon-arrow-right {
      margin: 0 8px 0 auto;
    }

    &:hover,
    &:focus {
      background-color: rgba($primary, .1);
    }
  }
}

.nav-button {
  text-align: center;
  margin: 2rem;

  .logout {
    width: 80%;
  }
}

.modals {
  position: fixed;
  top: 44px;
	left: 0;
	bottom: 0;
  z-index: 9;
  width: 100%;
  height: calc(100% - 99px);
  background-color: $gray-900;
}

.HistoryPrices {
  .el-form {
    .el-form-item__label {
      text-align: left;
    }

    .el-form-item__content {
      width: 100%;

      .el-select,
      .el-input {
        width: 100%;
      }
    }
  }

  .el-divider {
    color: #fff;
  }
}

.mainItem {
  .vxe-body--column {
    position: relative;
  }

  .bg__danger,
  .bg__success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .border__danger,
  .border__success {
    background-color: #3d3d3d;
    border: 0;
    padding: 6px 10px;
  }
}

.vxe-header--column .vxe-cell {
  font-weight: normal;
  font-size: 13px;
}


.itemDetail__Total {
  .row {
    padding: 4px;

    &:nth-child(1) {
      background-color: $gray-600;
    }

    &:nth-child(2) {
      background-color: $gray-700;
    }
  }
}

.progress-bar.progress-bar__total {
  background-color: $success;

  .progress-bar__inner {
    background-color: $danger;
  }
}


.modals {
  background: url('~static/images/theme_dt/login_bg_mobile.jpg') #252525 no-repeat;
  background-size: 100% 100%;
  .header {
    background-color: transparent;
  }
}
.changPassword {
  .area {
    width: 300px;
    margin: 1rem auto;
  }
  .el-form-item__label {
    color: #fff;
  }
  .rules-list {
    list-style: none;
    font-size: 12px;
    padding: 10px;
    color: #b2b2b2;
  }
}


//-------------- footer tabs
#tabs-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #1d1d1d;
}

.tabs-list {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 55px;

  .tab-list__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 20%;
    font-size: 12px;
		color: #fff;
		background-color: #333;
		margin: 1px 1px 3px 1px;

    .item__icon {
			font-size: 1.25rem;
			background: rgba(0,0,0,.3);
			border-radius: 50%;
			padding: 2px;
    }

    &.current {
      background-color: $primary;
    }
  }
}


//-------------- login
.login {
  .login__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 36px;
    text-shadow: 1px 1px 5px #000;
  }

  .version {
    font-size: 10px;
    color: #ccc;
  }

  .login-wrap {
    background: url('~static/images/theme_dt/login_bg_mobile.jpg') #252525 no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .login-box {
    width: 100%;
    max-width: 280px;
  }

  .el-form {
    .el-form-item {
      width: 100%;
      margin-bottom: 8px;
    }

    .el-form-item__label {
      display: none;
    }

    .el-form-item__content {
      width: 100%;
      margin-left: 0 !important;
    }

    .el-input__inner {
      background-color: #2a2a2a;
      border-color: #1d1d1d;
      color: #fff;
      text-shadow: 0 1px 0 #111;
      border-radius: 0;
      box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
    }

    .el-button {
      width: 100%;
      padding: 12px;
      background-color: #2ad;
      border-color: #1f1f1f;
      color: #fff;
      text-shadow: 0 1px 0 #111;
      border-radius: 0;
    }

    .el-checkbox {
      margin-left: 4px;
    }

    .el-checkbox__label {
      color: #fff;
    }
  }
}


// element ui
.el-dialog {
  .el-dialog__header .el-dialog__headerbtn > i {
    font-size: 36px;
  }
  .el-input__inner {
    background: #fff;
    border-color: #dcdcdc;
    color: #000;
  }
  .button {
    background-color: #f6f6f6;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
    padding: 13px 16px;
  }
  .el-dialog__list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        background: rgba(0,0,0,.3) url('~static/images/theme_dt/reback.svg') center center no-repeat;
        border-radius: 50%;
        padding-left: 22px;
        position: absolute;
        left: 20px;
      }
      + li {
        margin-top: 6px;
      }
    }
  }
  .area-button-group {
    display: flex;
    justify-content: center;
    + .area-button-group {
      margin-top: 10px;
    }
    .button {
      margin: 0 6px;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
.el-dialog__header {
  color: #333;
  background-color: #e9e9e9;
}

.el-dialog__body {
  padding: 10px;
}

.el-message-box {
  width: 60%;
}


// component
button {
  border-radius: 5px;
}
.number-input {
	display: inline-flex;
	input {
			width: 140px;
			color: #fff;
      background-color: #2a2a2a;
      border: 1px solid #1d1d1d;
      text-shadow: 0 1px 0 #111;
      padding: 0 6px;
      margin: 0 6px;
	}
	button {
    position: relative;
    width: 34px;
    height: 34px;
    background-color: #333;
    border-color: #1f1f1f;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    border-radius: 0;
    cursor: pointer;
    &:after {
        content: '';
        display: block;
        width: 22px;
        height: 22px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.3) url('~static/images/theme_dt/number_decrease.svg') center center no-repeat;
        border-radius: 50%;
    }
    &.button__increase {
      &:after {
        background-image: url('~static/images/theme_dt/number_increase.svg');
      }
    }
  }
}

.el-input__inner {
  background-color: #2a2a2a;
  border-color: #1d1d1d;
  color: #fff;
  text-shadow: 0 1px 0 #111;
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
}

.table_white {
  width: 100%;
  border: 1px solid #e6e6e6;
  th {
    border-bottom: 1px solid #e6e6e6;
    background-color: #f1f1f1;
  }
  th, td {
    border-right: 1px solid #e6e6e6;
    padding: 2px 4px;
  }
}
.table {
  width: 100%;
  background: $table-bg-color;
  &.table__mini {
    font-size: 10px;
    line-height: 1;
  }
  th,
  td {
    padding: 3px 0;
    border: {
      right: 1px solid $table-border-color;
      bottom: 1px solid $table-border-color;
    }
  }
  thead {
    background: $table-header-bg-color;
    th .cell {
      font-weight: normal;
      color: #a2a2a2;
      padding: $table-header-cell-padding;
    }
  }
  tbody {
    td .cell {
      padding: $table-cell-padding;
    }
  }
  td.limit {
    padding: 2px 0;
    .el-input-number {
      margin-right: 46px;
    }
    &.limit__2 {
      .el-input-number {
        margin-right: 6px;
      }
      button {
        position: relative;
        top: 1px;
        padding: 11px;
      }
    }
  }
}


.tabs-nav {
	overflow-x: auto;
  overflow-y: hidden;
  font-size: 15px;
	height: 40px;
	padding: 0;
}
.tabs-nav-theme1 {
  display: flex;
  margin-bottom: 5px;
  .tabs__item {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-color: #1f1f1f;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    cursor: pointer;
    + .tabs__item {
      margin-left: 1px;
    }
    span {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      font-size: 11px;
      background-color: #181a1f;
      padding: 0 2px;
    }
    &.is-active {
      background-color: #2ad;
      border-color: #2ad;
      color: #fff;
      text-shadow: 0 1px 0 #08b;
    }
  }
}
.mainItem-tabs {
  margin: 0 5px;
  .tabs__item {
		display: table-cell;
    white-space: nowrap;
    text-align: center;
    line-height: 36px;
    color: #a5a5a5;
    padding: 0 11px;
		font-size: 15.6px;
		&.is-active {
			border-bottom: 3px solid $yellow;
			color: #fff;
		}
	}
}

.select {
  position: relative;
  height: 40px;
  background: $gray-700;
  border-radius: 5px;

  &:before {
    content: "\e6df";
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    @include element-icons;
    pointer-events: none;
  }

  select {
    -webkit-appearance: none;
    color: #fff;
    height: 100%;
    padding: 0 26px 0 10px;
    background: transparent;
    border-color: transparent;
  }
}

.header-select {
  height: 76%;
}

.header-button {
  position: relative;
  height: 76%;
  color: #fff;
  background: #333;
  font-size: 13px;
  border-color: transparent;
  text-shadow: 0 1px 0 #111;
  border-radius: 0;

  &.logout {
    background-image: url('~static/images/theme_dt/logout_mobile.png');
    background-position: 3px 50%;
    background-repeat: no-repeat;
    padding-left: 26px;
  }
  &.back {
    padding: 8px 12px 8px 34px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 6px;
      transform: translateY(-50%);
      display: block;
      width: 22px;
      height: 22px;
      background: rgba(0,0,0,.3) url('~static/images/theme_dt/icon_back_mobile.svg') center no-repeat;
      border-radius: 50%;
    }
  }
}

.header-dropmenu {
  display: flex;
  padding: 8px 34px 8px 8px;

  span {
    margin-right: 2px;
  }
  &:after {
    position: relative;
    content: '';
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
    content: "\e6df";
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: element-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: baseline;
    display: inline-block;
    pointer-events: none;
  }

  // .material-icons {
  //   position: absolute;
  //   right: 0;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   font-size: 18px;
  // }
}

.el-loading-mask {
  background-color: rgba($gray-900, 0.9);
}


.collapse {
  +.collapse {
    margin-top: 1px;
  }

  .collapse__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;

    // &:before {
    //   content: "\e6df";
    //   position: absolute;
    //   right: 10px;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   @include element-icons;
    //   pointer-events: none;
    // }
  }

  .collapse__list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: #fff;
      background-color: #2a2a2a;
      padding: 6px 10px;
      +li {
        border-top: 1px solid #1d1d1d;
      }
    }
    .label {
      display: inline-block;
      width: 140px;
      color: #b2b2b2;
    }
  }
}
.collapse__list_theme2 {
  font-size: 14px;
  > li {
    @include clearfix;
    background-color: #2a2a2a;
    border-top: 1px solid #1d1d1d;
    padding: 10px 0;
    > div {
      float: left;
      padding: 0 4px;
    }
    > div:nth-child(1) {
      width: 32px;
      writing-mode: vertical-rl;
      font-size: 16px;
      padding: 4px;
    }
    > div:nth-child(2) {
      width: calc(45% - 32px);
    }
    > div:nth-child(3) {
      width: 55%;
    }
    .label {
      color: #b2b2b2;
    }
  }
}
.collapse__list_theme3 {
  > li {
    > div:nth-child(2) {
      width: calc(60% - 32px);
    }
    > div:nth-child(3) {
      width: 40%;
    }
  }
}

.area-select-list {
  height: 50vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  li {
    border-bottom: 1px solid #ddd;
  }
  .checkbox, .radio {
    position: relative;
    .checkbox__label, .radio__label {
      display: block;
      font-size: 15px;
      padding: 6px 6px 6px 24px;
      background-color: #fff;
      color: #333;
      text-shadow: 0 1px 0 #f3f3f3;
      margin: 0;
    }
    .checkbox__input, .radio__input {
      position: absolute;
      top: 10px;
      left: 5px;
      &:checked + .checkbox__label, &:checked + .radio__label {
        background-color: #f6f6f6;
      }
    }
  }
}

.swiper-pagination-bullet {
  background: #fff;

  &.swiper-pagination-bullet-active {
    background: $primary;
  }
}

.swiper-pagination {
  position: fixed;
  bottom: 4rem !important;
}


.chat {
	position: relative;
	width: 100%;
	height: 100%;
  line-height: 1.64;
	.no-service {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
	.chat-area {
		height: calc(100% - 80px);
		padding: 10px;
		overflow-y: scroll;
    ul {
			list-style-type: none;
			padding: 0;
		}
    span {
      color: #9e9e9e;
    }
  }
  .from-service {
    color: #ff4a4a;
  }
  .message-list {
    margin-bottom: 6px;
  }
	.chat-input-wrap {
		position: absolute;
		left: 0;
    bottom: 40px;
		width: 100%;
		height: 40px;
		.chat-input {
			width: 100%;
			height: 100%;
			line-height: 2.6;
			color: #fff;
			background-color: rgba(255, 255, 255, .2);
      padding: 0 10px;
      border: 0;
      &:focus {
        outline: 0;
      }
		}
		.button {
			position: absolute;
			right: 0;
			top: 0;
			height: 40px;
			color: #fff;
			background-color: #26282e;
			border-radius: 0;
		}
	}
}


.fontStyle-3.vxe-table {
  font-size: 22px;
  .vxe-header--column .vxe-cell {
    height: auto;
  }
}
.fontStyle-2.vxe-table {
  font-size: 20px;
  .vxe-header--column .vxe-cell {
    height: auto;
  }
}
.fontStyle-1.vxe-table {
  font-size: 18px;
}
.fontStyle-0.vxe-table {
  font-size: 16px;
}
.PriceBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  .change-icon {
    .icon-arrow-up {
      border-color: transparent transparent #fff transparent;
    }
    .icon-arrow-down {
      border-color: #fff transparent transparent transparent;
    }
  }
}
.fistrtitle {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    span {
      padding: 0 2px;
      font-size: 16px;
      color: #000;
      padding: 0 2px;
    }
    .bg__success, .bg__danger {
      color: #fff;
    }
  }
}
.popupAllSingleSelectNo {
  width: 90%;
  margin: auto;
  font-size: 16px;
  color: #333;
  .title {
    color: #767676;
    font-size: 10px;
    padding-right: 10px;
  }
}