//- 元氣 theme
@import 'theme/dt';

@import 'vendor/bootstrap';
@import 'vendor/element';
@import 'vendor/splitpanes';
@import 'vendor/vxetable';

// animate
$base-duration: .3s;
$use-fadeInDown: true;
@import '~animate-sass/animate';

// layout
@import 'layout/component';
@import 'layout/layout';

#__nuxt {
  display: block;
}

//-------------- header
.header {
  height: 34px;
  border-bottom: 1px solid #4a4a4a;
  .navbar-nav .nav-item .nav-link {
    line-height: 34px;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
    &.dropdown-toggle:after {
      content: "";
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
  }
  .dropdown-menu {
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    padding: .5rem 0;
    > a {
      min-width: 10rem;
      font-size: 16px;
      color: #212529;
      padding: .25rem 1.5rem;
      &:hover {
        text-decoration: none;
        background-color: #91d9ed;
      }
    }
  }
  .mybutoule {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    button {
      color: #e9e9e9;
      border: solid 1px #555;
      background: #6e6e6e;
      background: linear-gradient(to bottom,#888 0,#575757 100%);
      padding: 3px 6px;
      &:hover {
        background: #616161;
        background: linear-gradient(to bottom,#757575 0,#4b4b4b 100%);
      }
      &.active {
        box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
      }
    }
    .themeBtn {
      padding: 9px
    }
  }
}
.table-dropdown {
  position: fixed;
  top: 91px;
  left: 70px;
  z-index: 1000;
}
.dropdown-menu {
  list-style: none;
  min-width: 10rem;
  background: #fff;
  border: 1px solid rgba(0,0,0,.15);
  padding: .5rem 0;
  li {
    position: relative;
    min-width: 10rem;
    font-size: 16px;
    font-weight: normal;
    color: #212529;
    padding: .25rem 1.5rem;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      background-color: #91d9ed;
      ul {
        display: block;
      }
    }
    &.dropdown-toggle:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #000;
      margin-top: 8px;
      margin-right: -10px;
    }
    ul {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      list-style: none;
      min-width: 10rem;
      background: #fff;
      padding: .5rem 0;
      border: 1px solid rgba(0,0,0,.15);
    }
    .is-active::before {
      position: absolute;
      left: .4rem;
      content: '✓';
      font-weight: 600;
    }
  }
}


//-------------- itemDetail
.itemDetail {
  .itemDetail-header {
    button.button {
      position: relative;
      top: -1px;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      font-size: 0;
      margin: 3px;
      background: url('~static/images/theme_dt/zoomBox.png');
    }
  }
}


//-------------- history
.history {
  .history-content__header {
    line-height: 1.8;
    padding: 0 4px;
    .linesp-wrap {
      display: flex;
      align-items: center;
      &.statistics {
        .linesp {
          color: #828282;
        }
      }
    }
    .linesp {
      font-size: 18px;
      color: #ccc;
      margin-left: 10px;
      .number {
        color: #fff;
      }
      span {
        margin-left: 5px;
      }
      input[type=checkbox] {
        height: 16px;
        margin-left: 10px;
      }
    }
  }
  .history-content__body {
    position: relative;
    height: 100%;
  }
}
.itemDetail__Total {
  border: 1px solid #3a3a3a;
  border-top: 0;
  div + div {
    border-left: 1px solid #3a3a3a;
  }
}




//-------------- operating
.numberBtn-wrap {
  display: flex;
}
.operating-wrap {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.operating {
  color: #000;
  background-color: #f9f9f9;
  overflow: auto;
  .button__white {
    color: #606060;
    border: solid 1px #949494;
    background: #fff;
    background-image: linear-gradient(to bottom,#fff 0,#ededed 100%);
  }
  .numberbtn .el-form {
    button {
      flex: 0 0 auto;
      width: 24px;
      height: 24px;
      padding: 0;
      + button {
        margin-left: 4px;
      }
    }
    .button__set {
      margin-left: 12px;
    }
  }
  .el-input-number {
    width: 140px;
    .el-input__inner {
      font-size: 15px;
    }
  }
  .button-operating {
    button {
      width: 100%;
      font-size: 16px;
      padding: .5em 2em .55em;
      margin-top: 6px;
    }
  }
}
#operatingA {
  min-width: 260px;
  flex-direction: column;
  padding: 10px;
  .operatingA-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .operatingA-4 {
    margin: 0 0 4px 50px;
  }
  .el-form-item__label,
  .radio {
    font-size: 16px;
  }
  .el-form-item__content {
    width: 100%;
    select {
      width: 100%;
      height: 31px;
    }
  }
  .button__warning {
    margin-left: 6px;
  }
}
#operatingB {
  min-width: 260px;
  flex-direction: column;
  padding: 10px;
  .operatingB-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .operatingB-3 {
    margin: 4px 0 4px 50px;
  }
  .operatingB-5 {
    margin: 4px 0 0 0;
  }
  .el-form-item__label,
  .radio {
    font-size: 16px;
  }
  .el-form-item__content {
    width: 100%;
    select {
      width: 100%;
      height: 31px;
    }
  }
  .button__warning {
    margin-left: 6px;
  }
  .numberbtn {
    margin-left: 50px;
  }
  .button-operating {
    display: flex;
  }
}
#operatingC {
  .change-theme {
    width: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    .button__white {
      margin: 2px;
    }
  }
  .nowPrice {
    position: absolute;
    left: -58px;
    color: #fff;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: linear-gradient(to bottom,#faa51a 0,#f47a20 100%);
  }
  .el-form-item__label,
  .radio,
  .checkbox {
    font-size: 16px;
  }
}



//-------------- userInfor
.userInfo {
  min-width: 260px;
  position: relative;
  height: 50px;
  padding: 3px 10px;
  .valuearrow {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
    .arrow__up,
    .arrow__down {
      width: 20px;
      height: 20px;
      font-size: 0;
      background: transparent url('~static/images/theme_dt/downarrow.png') top/cover no-repeat;
      cursor: pointer;
    }
    .arrow__up {
      background-image: url('~static/images/theme_dt/uparrow.png');
    }
  }
  .userInfo__account {
    font-family: assistant-bold,sans-serif;
    font-size: 16px;
  }
  .userInfo-balance__title {
    font-size: 13px;
    vertical-align: top;
    color: #828282;
  }
  .userInfo-balance__num {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    font-size: 30px;
    width: 100%;
    height: 100%;
    font-family: assistant-semibold,sans-serif;
    font-weight: 500;
    color: #dc3545;
    padding: 0 6px 0 70px;
  }
  .userInfo-balance-table {
    width: 100%;
    th {
      width: 38%;
      font-size: 16px;
      font-weight: normal;
      color: #828282;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    td {
      font-size: 18px;
      text-align: right;
      font-family: assistant-semibold, sans-serif;
      font-weight: 500;
    }
  }
}

//-------------- layout
#main {
  height: calc(100% - 26px);
}
.footer {
  height: 26px;
  border-top: 1px solid #4a4a4a;
}


//-------------- news
.news {
  height: 360px;
  padding: 10px;
  overflow: auto;
  .news-data__title {
    white-space: initial;
    word-break: break-all;
    text-align: center;
    color: #212529;
    font-size: 14px;
    border: 1px solid #dee2e6;
    background-color: #f9f9f9;
    padding: 2px;
  }
  .news-data__infor {
    word-break: break-all;
    white-space: inherit;
    color: #212529;
    font-size: 14px;
    border: 1px solid #dee2e6;
    border-top: 0;
    padding: 10px 10px;
  }
}


// user
.userDetail {
  padding: 10px;
}
.table-userDetail {
  width: 100%;
  margin-bottom: .8rem;
  .table-userDetail__title {
    width: 24%;
    border-right: 1px solid #dee2e6;
  }
  tr {
    border: 1px solid #dee2e6;
  }
  td {
    padding: 2px 4px;
  }
}
.table-title {
  font-size: 16px;
  color: #ccc;
}

.description {
  padding: 10px;
}


//-------------- component
.tabs-nav {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 0 2px;
  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #3a3a3a;
    position: absolute;
    bottom: 0;
  }
  .tabs__item {
    display: inline-block;
    font-size: 16px;
    color: #828282;
    border: 1px solid transparent;
    padding: 0 8px;
    margin-top: 2px;
    cursor: pointer;
    &.is-active {
      position: relative;
      z-index: 1;
      color: #ccc;
      border-color: #7b7b7b #7b7b7b #101010;
    }
  }
}
.button {
  color: #fff;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: linear-gradient(to bottom,#119ad2 0,#00559d 100%);
  &:hover {
    background: linear-gradient(to bottom,#0095cc 0,#00678e 100%);
  }
}
.bg__success {
  background: #28a745;
}
.text__white {
  color: #fff;
}
.bg__success,.bg__danger {
  .text__secondary {
    color: #fff !important;
  }
}
.button__danger {
  color: #fff !important;
  border: solid 1px #980c10 !important;
  background: #d81b21 !important;
  background: linear-gradient(to bottom,#ed1c24 0,#aa1317 100%) !important;
  &:hover {
    background: linear-gradient(to bottom,#c9151b 0,#a11115 100%) !important;
  }
}
.button__success {
  color: #fff !important;
  border: solid 1px #538312 !important;
  background: #64991e !important;
  background: linear-gradient(to bottom,#7db72f 0,#28a745 100%) !important;
  &:hover {
    background: linear-gradient(to bottom,#6b9d28 0,#436b0c 100%) !important;
  }
}
.button__warning {
  color: #fff;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: linear-gradient(to bottom,#faa51a 0,#f47a20 100%);
}
.button__light {
  color: #e9e9e9 !important;
  border: solid 1px #555 !important;
  background: #6e6e6e !important;
  background: linear-gradient(to bottom,#888 0,#575757 100%) !important;
  &:hover {
    background: linear-gradient(to bottom,#757575 0,#4b4b4b 100%) !important;
  }
}


td {
  .border__danger, .border__success {
    border-color: #4fbbfb !important;
  }
}

.badge {
  display: inline-block;
  padding: .3em .4em .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-rr {
  background-color: #73d6f8;
  margin: 0 2px;
}
.mybadge {
  position: relative;
  top: -2px;
  padding: 2px 3px;
  margin-right: 2px;
}
.select {
  position: relative;
  cursor: pointer;
  select {
    padding: 2px 18px 2px 6px;
    appearance: none;
    cursor: pointer;
    &::-ms-expand {
      display: none;
    }
  }
  &:after {
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    top: 50%;
    right: 6px;
    pointer-events: none;
    transform: translateY(-25%);
  }
  &.badge-warning {
    select {
      height: 100%;
      font-weight: bold;
      background-color: transparent;
      border: 0;
      padding: 0 10px 0 0;
    }
  }
}
.form-check-input {
  margin-top: .1rem;
}
.progress-bar {
  .progress-bar__inner {
    background: #28a745;
  }
  &.progress-bar__right {
    .progress-bar__inner {
      background: #dc3545;
    }
  }
}
.progress-bar.progress-bar__total {
  background-color: #28a745;
  .progress-bar__inner {
    background-color: #dc3545;
  }
}


//-------------- table
.table__dark.vxe-table {
  .text__success {
    color: #27d627;
  }
  .text__danger {
    color: #FF0000;
  }
  .vxe-body--row:nth-last-child(n+2) {
    .vxe-body--column {
      border-bottom: 0;
    }
  }
}
.default .table__dark.vxe-table {
  border-color: #3a3a3a;
  table {
    border-bottom: 1px solid #3a3a3a;
  }
  .vxe-table--border-line {
    &:before, &:after {
      border-color: #3a3a3a;
    }
  }
  &:before, &:after,
  .vxe-table--header-wrapper .vxe-table--repair {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
  }
  .vxe-header--column {
    color: #ccc;
    border-color: #3a3a3a;
  }
  .vxe-body--row {
    color: #ccc;
    background-color: #111;
    &.row--stripe {
      background-color: #1d1d1d;
    }
    .vxe-body--column {
      border-bottom: 0;
      border-color: #3a3a3a;
    }
  }
  .vxe-table--header-wrapper {
    color: #ccc;
    background-color: #3a3a3a;
  }
  .vxe-table--fixed-left-wrapper,
  .vxe-table--fixed-right-wrapper,
  .vxe-table--main-wrapper {
    background-color: #111;
  }
  .vxe-table--header-wrapper,
  .vxe-table--fixed-left-wrapper,
  .vxe-table--fixed-left-wrapper:before, .vxe-table--fixed-right-wrapper:before {
    border-color: #3a3a3a;
  }
}

.vxe-header--column .vxe-cell {
  height: 26px;
}
.vxe-table.size--mini .vxe-header--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-body--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-footer--column:not(.col--ellipsis) {
  padding: 0;
}
.table__hi {
  tbody .vxe-cell {
    padding: 0;
  }
  .vxe-body--row {
    .vxe-body--column {
      border-bottom: 1px solid #3a3a3a !important;
    }
  }
}
.table__stripe {
  .vxe-body--row:nth-child(odd) {
    background-color: #1d1d1d;
  }
}
.fontStyle-3.vxe-table.size--mini {
  font-size: 25px;
  .vxe-header--column .vxe-cell {
    height: auto;
  }
}
.fontStyle-2.vxe-table.size--mini {
  font-size: 20px;
  .vxe-header--column .vxe-cell {
    height: auto;
  }
}
.fontStyle-1.vxe-table.size--mini {
  font-size: 15px;
}
.fontStyle-0.vxe-table.size--mini {
  font-size: 10px;
}

.customItems {
  width: 400px;
  margin: auto;
  select {
    width: 160px;
    height: 250px;
  }
  .button-group {
    text-align: center;
    padding: 10px;
    button + button {
      margin-left: 0;
      margin-top: 4px;
    }
  }
}




.table-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  a {
    position: relative;
    display: block;
    width: 30px;
    height: 16px;
    background: url('~static/images/theme_dt/setw.png') no-repeat;
    &:after {
      position: absolute;
      top: 5px;
      right: 0;
      content: "";
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      border-top: .2em solid;
      border-right: .2em solid transparent;
      border-bottom: 0;
      border-left: .2em solid transparent;
    }
  }
}
.dropdown-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
.table-link {
  color: #4fbbfb;
  text-decoration: underline;
}


//-------------- element
.el-loading-parent--relative {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.el-dialog__wrapper {
  .el-table {
    min-height: 360px;
    background: #f1f1f1;
  }
}
.el-dialog__header {
  color: #fff;
  border: 1px solid #dee2e6;
  background: #f0f0f0;
  .header-custom {
    font-size: 20px;
    color: #000;
  }
  .header-custom i {
    color: #fff;
  }
  .el-dialog__close {
    color: #fff;
  }
}
.el-dialog__body {
  padding: 0;
  border: 1px solid #dee2e6;
  .tabs-nav {
    padding: 4px 4px 0 4px;
    .tabs__item {
      color: #008cba !important;
      &.is-active {
        color: #555 !important;
        border-color: #ddd #ddd #fff !important;
      }
    }
  }
}
.dialog__header {
  padding: 1rem;
}
.dialog__body {
  padding: 1rem;
}
.dialog__footer {
  text-align: right;
  border-top: 1px solid #dee2e6;
  padding: 5px 10px;
}
.el-pagination {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #578bc1;
}

.el-input__inner {
  border: 1px solid #b7babc;
  border-radius: 0;
}



// login
.dt {
  background: url('~static/images/theme_dt/index_bg.png') repeat-x #2c3034;
  .index {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  .main {
    width: 950px;
    margin: 0 auto;
    .mainbox {
      display: flex;
      .menu {
        list-style: none;
        width: 311px;
        padding: 0;
        margin: 0;
        li {
          position: relative;
          color: #fff;
          display: flex;
          align-items: center;
          height: 96px;
          font-size: 14px;
          font-weight: 700;
          border-bottom-left-radius: 33px;
          border-bottom-right-radius: 33px;
          margin-top: -30px;
          padding: 30px 25px 0;
          cursor: pointer;
          a {
            width: 100%;
            color: #fff;
          }
          &:hover {
            &:before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url('~static/images/theme_dt/p2.png');
              margin: 0 8px;
              text-decoration: none;
            }
          }
        }
        .menu01 {
          background-color: #505d64;
          z-index: 5;
        }
        .menu02 {
          background-color: #323a3e;
          z-index: 4;
        }
        .menu03 {
          background-color: #202527;
          z-index: 3;
        }
        .menu04 {
          background-color: #141718;
          z-index: 2;
        }
        .menu05 {
          background-color: #050606;
          z-index: 1;
        }
      }
      .logo-wrap {
        position: relative;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 311px;
        height: 282px;
        background: url('~static/images/theme_dt/p1.png');
        padding: 1rem 3rem 0 0;
        .title-wrap {
          position: relative;
          line-height: 1.2;
        }
        .logo {
          position: absolute;
          right: -20px;
          top: -24px;
          width: 34px;
          height: 32px;
          background: url('~static/images/theme_dt/tfile_logo.png');
        }
        .title {
          font-size: 32px;
          color: #000;
          text-shadow: 1px 1px #fff;
        }
        .small {
          font-size: 14px;
          color: #767c7f;
          font-weight: bold;
        }
      }
      .content {
        width: calc(100% - 311px);
        height: 100%;
        padding: 30px 0;
        .cnt1 {
          background-color: #000;
          border-top-right-radius: 33px;
          height: 68px;
          z-index: 999;
        }
        .cnt2 {
          z-index: 9999;
          height: 517px;
          font-size: 12px;
          line-height: 18px;
          color: #9fa5ac;
          background-color: #1a1c1e;
          border-top-right-radius: 33px;
          border-bottom-right-radius: 33px;
          padding: 40px 18px 40px 40px;
          margin-top: -33px;
          .txt {
            display: inline-block;
            vertical-align: top;
            width: 48%;
          }
          .cnt-title {
            font-weight: bold;
            font-size: 28px;
            color: #c5d2d9;
            padding: 0;
            margin: 0 0 3rem 0;
          }
          .img-group {
            display: inline-block;
            vertical-align: top;
            margin-left: 3%;
            .img {
              width: 270px;
              height: 180px;
              + .img {
                margin-top: 1rem;
              }
              &.img01 {
                background: url('~static/images/theme_dt/tfile_picB.png');
              }
              &.img02 {
                background: url('~static/images/theme_dt/tfile_picC.png');
              }
            }
          }
        }
      }
    }
  }
  .login-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    .login-box {
      width: 375px;
      background: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
    .login__header {
      font-size: 30px;
      padding: 12px;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
    .login__form {
      width: 273px;
      .el-form-item__label {
        display: none;
      }
      .el-form-item__content {
        width: 100%;
      }
      .el-input__inner {
        border-radius: 0;
      }
      .el-button {
        width: 100%;
        background: #007bff;
        padding: 16px;
        border-radius: 0;
      }
      .login-txt {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #808080;
      }
    }
    .login__footer {
      width: 100%;
      background: #ecf0f1;
      border-color: #dee4e7;
      text-align: center;
      display: block;
      font-size: 13px;
      padding: 15px;
      margin-top: 1rem;
    }
  }
}


//-------------- scrollbar
.mainItem ::-webkit-scrollbar {
  width: 12px;
} /* this targets the default scrollbar (compulsory) */
.mainItem ::-webkit-scrollbar-track {
  background-color: #666;
} /* the new scrollbar will have a flat appearance with the set background color */
.mainItem ::-webkit-scrollbar-thumb {
  background-color: #5fa3cb;
} /* this will style the thumb, ignoring the track */
.mainItem ::-webkit-scrollbar-button {
  background-color: #5fa3cb ;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
.mainItem ::-webkit-scrollbar-corner {
  background-color: #666;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */



.white {
  .root {
    color: #000;
  }
  .mainItem ::-webkit-scrollbar-track {
    background-color: rgb(226, 226, 226);
  }
  .mainItem ::-webkit-scrollbar-corner {
    background-color: rgb(226, 226, 226);
  }
  .default-theme.splitpanes--vertical > .splitpanes__splitter, .default-theme .splitpanes--vertical > .splitpanes__splitter {
    width: 5px;
  }
  .default-theme.splitpanes--horizontal > .splitpanes__splitter, .default-theme .splitpanes--horizontal > .splitpanes__splitter {
    height: 5px;
  }
  .splitpanes.default-theme {
    .splitpanes__pane {
      background-color: #f0f0f0;
    }
    .splitpanes__splitter {
      width: 5px;
      background-color: #c7c7c7;
    }
  }
  .header {
    border-bottom-color: #696969;
    .navbar-nav .nav-item .nav-link {
      color: #000;
    }
    .mybutoule button {
      color: #fff;
      border: solid 1px #0076a3;
      background-image: linear-gradient(to bottom,#119ad2 0,#00559d 100%);
    }
  }
  .tabs-nav {
    &:after {
      background-color: #cacaca;
    }
    .tabs__item {
      color: #5b5b5b;
      &.is-active {
        color: #000;
        background-color: #fff;
        border-color: #7b7b7b #7b7b7b #fff;
      }
    }
  }
  .button {
    color: #606060;
    border: solid 1px #949494;
    background: #fff;
    background-image: linear-gradient(to bottom,#fff 0,#ededed 100%);
  }
  .history .history-content__header .linesp {
    color: #333;
    .number {
      color: #000;
    }
  }
  .itemDetail__Total {
    background-color: #fff;
    border-color: #dee2e6;
    div + div {
      border-left-color: #dee2e6;
    }
  }
  .table-toggle {
    a {
      background: url('~static/images/theme_dt/setb.png') no-repeat;
    }
  }
  .valuearrow {
    .arrow__down {
      background-image: url('~static/images/theme_dt/downarrow_w.png');
    }
    .arrow__up {
      background-image: url('~static/images/theme_dt/uparrow_w.png');
    }
  }
  .userInfo {
    background-color: #fff;
    border-top: 1px solid #696969;
    border-bottom: 1px solid #696969;
    .userInfo__account {
      color: #000;
    }
  }
}